<form method="POST">
    <input type="text"name="title" placeholder="Title" required><br>
    <textarea name="content" id="" cols="30" rows="10" placeholder="Content" required></textarea>
    <input type="submit" value="Submit">
</form>
<p>
    <a href="/show-data">Show Data</a>
</p>
